doctype html
html(ng-app="app")
  head
    title= title
    <!-- inject:css -->
    <!-- endinject -->
  body
    p Welcome to the ng-session-timeout demo
    <!-- inject:js -->
    <!-- endinject -->
